body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    
}



#main {
    background-color: black;
    width: 20rem;
    margin: 20px;
    border-radius: 48px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#main-screen {
    width: 85%;
    justify-content: end;
    display: flex;
    user-select: none;
    border-radius: 48px;
    font-weight: bold;
    margin-top: 100px;
    color: white;
    font-size: 32px;
}

#button-screen {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px 0 32px 0;
    justify-content: center;
}


.button {
    border-radius: 48px;
    background-color: transparent;
    color: whitesmoke;
    width: 20%;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 24px;
    height: 64px;
    align-content: center;
    text-align: center;
    border: none;
    margin: 5px;
    -webkit-appearance: none;
    transition: background-color 100ms ease-out;
    transition: filter 100ms ease-out;
    transition: color 100ms ease;
}

#zero {
    width: 138px;
}


.button{
    background-color: #1c1c1c;
}
.right {
    background-color: orange;
    font-size: xx-large;
}
.top {
    background-color: gray;
    color: black;
}